In [3]:

import pandas as pd

In [12]:
fraud_data = pd.read_csv('../data/Fraud_Data.csv')
ip_address_data = pd.read_csv('../data/IpAddress_to_Country.csv')

fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

In [14]:
missing_values = fraud_data.isnull().sum()

fraud_data_cleaned = fraud_data.dropna()

In [6]:
# Remove duplicate rows
fraud_data_cleaned.drop_duplicates(inplace=True)

In [15]:
# Convert data types as necessary
fraud_data_cleaned['transaction_date'] = pd.to_datetime(fraud_data_cleaned['transaction_date'])
fraud_data_cleaned['ip_address'] = fraud_data_cleaned['ip_address'].astype(str)

KeyError: 'transaction_date'